In [24]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
#
# Load the training and test data  
train_df = pd.read_csv("trainDataCleanedX.csv")
test_df = pd.read_csv('testDataCleanedX.csv')
# test_df.drop()
# Selecting features and target for training data  
X_train = train_df.drop('Investment_Failed', axis=1)  # This removes the target column from the DataFrame, leaving only the features  
y_train = train_df['Investment_Failed']  # This selects just the target column
# Selecting features and target for test data  
X_test = pd.read_csv('testDataCleanedX.csv')  # Assuming test data also contains the target column  
y_test = test_df['Investment_Failed']


# # Feature scaling (optional but recommended for some algorithms like SVM)
# scaler = StandardScaler()
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

# Initialize the classifier (you can use any other classifier as well)
classifier = SVC(kernel='linear')

# Train the classifier
classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

:

In [7]:
import pandas as pd
data = pd.read_excel('trainDataCleaned.xlsx')
df = pd.DataFrame(data)

In [8]:
df.head()

,Unnamed: 0,Investor_ID,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
0,0,0003HW9UAA,51.000000,82793.709196,87300.0,358,13,3.0,18.100000,12,0.85,2,1,1,0,0,4,1,0
1,1,000ELHLBPV,37.000000,81658.000000,152598.0,792,23,4.0,14.060000,24,0.86,4,3,1,1,0,5,0,1
2,2,000G6CHJON,46.026004,82793.709196,77767.0,359,57,4.0,4.310000,60,0.60,3,4,2,0,0,3,1,0
3,3,000K09D0JB,54.000000,42344.000000,13261.0,366,115,1.0,13.417184,60,0.21,4,1,1,0,0,3,1,0
4,4,000NTH4YTU,63.000000,48898.000000,193990.0,792,53,4.0,5.650000,48,0.82,3,3,2,1,0,2,1,0

In [9]:
df.drop(['Investor_ID'],axis=1, inplace=True)

In [5]:
df.head()

,Unnamed: 0,Age,Annual_Income,Investment_Amount,Risk_Tolerance_Score,Months_of_Investing_Experience,Number_of_Active_Investments,Potential_Return_Rate,Investment_Duration,Investment_to_Income_Ratio,Education,Employment_Status,Marital_Status,Owns_Property,Has_Dependents,Investment_Sector,Has_Investment_Advisor,Investment_Failed
0,0,44.323255,73311.0,9698.000000,669,71,4.0,9.13,24,0.30,2,3,3,0,0,4,1,NaN
1,1,44.323255,123781.0,165751.000000,739,82,2.0,14.74,12,0.71,4,4,3,1,1,3,1,NaN
2,3,37.000000,109759.0,207283.000000,1008,114,1.0,17.14,12,0.86,2,3,3,0,1,2,0,NaN
3,4,41.000000,57751.0,131814.590995,836,97,2.0,7.04,60,0.32,1,3,1,1,0,3,0,NaN
4,5,44.323255,137520.0,182292.000000,629,59,1.0,10.30,12,0.46,3,1,1,1,1,3,0,NaN

In [10]:
df.to_csv("trainDataCleanedX.csv")

In [7]:
# Importing necessary libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

# Load train and test data
train_data = pd.read_csv('trainDataCleanedX.csv')  # Assuming your train file is in CSV format
test_data = pd.read_csv('testDataCleanedX.csv')    # Assuming your test file is in CSV format

# Separate features and target variable
X_train = train_data.drop(columns=['Investment_Failed'])  # Adjust 'target_column' with your actual target column name
y_train = train_data['Investment_Failed']

# Splitting the data into training and testing sets
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=42)

# Initialize Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier
rf_classifier.fit(X_train, y_train)

# Predict on the test data
y_pred = rf_classifier.predict(test_data)  # Assuming 'test_data' contains features only

# Once trained and tested, you can use rf_classifier for prediction and evaluation

In [3]:
train_data = pd.read_csv('trainDataCleanedX.csv')  # Assuming your train file is in CSV format
test_data = pd.read_csv('testDataCleanedX.csv')    # Assuming your test file is in CSV format

In [8]:
y_pred = rf_classifier.predict(test_data)

array([0, 0, 0, ..., 0, 0, 1])

In [25]:
# Evaluate the model
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_pred,y_val)
print("Accuracy:", accuracy)

ValueError: Found input variables with inconsistent numbers of samples: [29061, 22535]

In [26]:
dfs = pd.DataFrame(y_val)

In [14]:
dfs.to_excel("output.xlsx")

In [15]:
y_pred = y_pred.drop(data.index[:9061])

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [35]:
dfs = pd.DataFrame(y_pred)

In [36]:
dfs = dfs.drop(dfs.index[:9061])

In [37]:
dfs = dfs.drop(dfs.index[:9061])

(20000, 1)

In [38]:
dfx = pd.DataFrame(y_val)

In [39]:
dfx = dfx.drop(dfx.index[:2535])

In [40]:
dfx.shape

(20000, 1)

In [41]:
y_pred2 = dfs.values

In [42]:
y_val2 = dfx.values

In [43]:

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_pred2,y_val2)
print("Accuracy:", accuracy)

Accuracy: 0.7422